<div id="main_contact">
    <h1>Contact Us</h1>
            <!-- <form name="contactform" method="post" action="">
                    <label>
                        Name <br />
                        <input type="text" name="name" size="40" maxlength="100" class="highlight"/>
                    </label>
                    <br />
                    <label>
                        Email <br />
                        <input type="email" name="email" size="40" maxlength="100" class="highlight"/>
                    </label>
                    <br />
                    <label>
                        Phone <br />
                        <input type="text" name="phone" size="40" maxlength="100" class="highlight"/>
                    </label>
                    <br />
                    <label for="message">
                         Message <br />
                    </label>
                         <textarea rows="6" cols="40" id="message" class="highlight">
                         </textarea>
                    <br />
                         <input type="submit" name="submit" value="Submit" ng-click="clearForm()" class="button">
            </form> -->
            <!-- Do not change the code! -->
            <a id="foxyform_embed_link_655662" href="http://www.foxyform.com/">foxyform</a>
            <script type="text/javascript">
            (function(d, t){
               var g = d.createElement(t),
                   s = d.getElementsByTagName(t)[0];
               g.src = "http://www.foxyform.com/js.php?id=655662&sec_hash=96313f2f392&width=350px";
               s.parentNode.insertBefore(g, s);
            }(document, "script"));
            </script>
            <!-- Do not change the code! -->
           <!--  <p>{{err}}</p> -->
  </div>
 <aside id="sidebar-contact">
    <h3>OUR LOCATION</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2878.0488813982265!2d-111.7728219!3d43.834084399999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53540a447d4c12cb%3A0xa8142f082b3f2e14!2s374+E+4th+N%2C+Rexburg%2C+ID+83440!5e0!3m2!1sen!2sus!4v1428499312390" width="240" height="240" frameborder="0" style="border:0"></iframe>
    <h3>CONTACT INFORMATION</h3>
    <p>208.356.3621<br />
    374 East 4th North<br /> 
    Rexburg, ID 83440<br /><br />
    Open M - F  &nbsp; | &nbsp; 8:00 to 5:00<br /><br />
    Summer Hours:<br /> 
    Open M - F  &nbsp; | &nbsp; 8:00 to 4:00</p>
 </aside>
