<div id="main_contact">
    <h1>Contact Us</h1>
            <form name="contactform" method="post" action="../php/send_form_email.php">
                    <label>
                        Name <br />
                        <input type="text" name="name" size="40" maxlength="100" class="highlight"/>
                    </label>
                    <br />
                    <label>
                        Email <br />
                        <input type="email" name="email" size="40" maxlength="100" class="highlight"/>
                    </label>
                    <br />
                    <label>
                        Phone <br />
                        <input type="text" name="phone" size="40" maxlength="100" class="highlight"/>
                    </label>
                    <br />
                    <label for="message">
                         Message <br />
                    </label>
                         <textarea rows="6" cols="40" id="message" class="highlight">
                         </textarea>
                    <br />
                         <input type="submit" value="Submit" class="button">   <a href="http://www.freecontactform.com/email_form.php">Submit</a>
            </form>
  </div>
 <aside id="sidebar-contact">
    <h3>OUR LOCATION</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2878.839358686183!2d-111.77276830000001!3d43.817691399999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53540af959de342b%3A0xf116811515b9c3ca!2s374+E+4th+S%2C+Rexburg%2C+ID+83440!5e0!3m2!1sen!2sus!4v1427134126510" width="240" height="240" style="border:0"></iframe> 
    <h3>CONTACT INFORMATION</h3>
    <p>208.356.3621<br />
    374 East 4th North<br /> 
    Rexburg, ID 83440<br /><br />
    Open M - F  &nbsp; | &nbsp; 8:00 to 5:00<br /><br />
    Summer Hours:<br /> 
    Open M - F  &nbsp; | &nbsp; 8:00 to 4:00</p>
 </aside>