<div id="main_login">
  <h1>Login</h1>

<form role="form">
  <p class="form-group">
    <label for="loginEmail">Email</label><br>
    <input id="loginEmail" required name="email" type="email" ng-model="email" class="form-control" size="40" maxlength="100" class="highlight"/>
  </p>
  <p class="form-group" ng-hide="reset">
    <label for="loginPass">Password</label><br>
    <input id="loginPass" required name="pass" type="password" ng-model="pass" class="form-control" ng-hide="reset" size="40" maxlength="100" class="highlight"/>
  </p>
  <p class="form-group" ng-show="changePass">
    <label for="newPass">New Password</label><br>
    <input id="newPass" required name="newPass" type="password" ng-model="pass" class="form-control" size="40" maxlength="100" class="highlight"/>
    
  </p>
  <p class="form-group" ng-cloak ng-show="createMode || changePass">
    <label for="loginConfirm">Confirm Password</label>
    <br>
    <input id="loginConfirm" required name="confirm" type="password" ng-model="confirm" class="form-control" size="40" maxlength="100" class="highlight"/>
  </p>
  
  <p ng-hide="reset">
    <button  class="btn btn-primary" ng-click="passwordLogin(email, pass)" ng-hide="createMode">Log In</button>
    <button  class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
    <button  class="btn btn-default" ng-click="reset = true">Forgot Password</button>
    <button  class="btn btn-primary" ng-cloak ng-show="createMode"
            ng-click="createAccount(email, pass, confirm)">Create Account</button>
    <button  class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
  <button class="btn btn-default" ng-click="changePasword(email, pass, newPass, confirm)">Change Password</button>
  <button  class="btn btn-primary" ng-click="resetPassword(email)">Send Email</button>
    <button  class="btn btn-default" ng-click="cancelReset()">Cancel</button>
  </p>
</form>
<p ng-show="err" class="bg-danger">{{err}}</p>
</div>