<div id="main_aboutortho">
            <h1>Meet the Doctor</h1>
            <section>
                <article class="one-half-full">
                    <img src="images/drsummers.jpg" class="image_inline_meet" alt="Dr. Summers" />
                    <div class="text_inline_meet">
                        <h2>Dr. Summers</h2>
                        <p>Dr. Summers has had the privilege of being an orthodontist in Rexburg for over 10 years.  
                        He understands the importance of a sound education and completed his BA degree at Utah State 
                        University then finished dental school with a DDS degree 
                        from Creighton University in Omaha, Nebraska.  After experiencing a productive 
                        one year residency at the University of Utah Hospital he completed his three year 
                        orthodontic residency at West Virginia University where he received his Masters 
                        degree.  This orthodontic residency gave him the opportunity to learn the 
                        different aspects of orthodontics to expertly correct various bite and smile 
                        problems.  Dr. Summers is board certified by the American Board of Orthodontics.</p>
                        <p>In his free time Dr. Summers loves to spend time with his wife, three sons, and 
                        one daughter. They especially love going to amusement parks, like Disneyland and 
                        Lagoon, together.   He believes fall is the best time of year in Rexburg as it is not 
                        too windy and football season is in full swing.</o>
                        <p>Dr. Summers and his friendly staff welcome the opportunity to help you find a healthy, beautiful smile. 
                        Dr. Summers is an orthodontic specialist committed to providing excellent care in a comfortable, relaxed environment.</p>
                        <p>We are aware that each individual has different needs and take pride in thoroughly explaining all 
                        treatment options available. Dr. Summers offers a wide variety of treatment from early childhood to 
                        adult smile correction. Whether you choose traditional metal braces, clear braces, or the Invisalign 
                        system, Dr. Summers’ expertise will bring out the smile in you. </p>
                        <p>We invite you to schedule a complimentary consultation where Dr. Summers and his staff will answer 
                        any questions you may have. Please contact our Rexburg office at (208) 356-3621.</p>
                    </div>
                </article>
            </section>
        </div>
