<div id="main_aboutortho">
            <h1>Meet the Doctor</h1>
            <section>
                <article class="one-half-full">
                    <img src="../images/drsummers.jpg" class="image_inline" alt="Dr. Summers" />
                    <div class="text_inline">
                        <h2>Dr. Summers</h2>
                        <p>Dr. Summers and his friendly staff welcome the opportunity to help you find a healthy, beautiful smile. 
                        Dr. Summers is an orthodontic specialist committed to providing excellent care in a comfortable, relaxed environment.</p>
                        <p>We are aware that each individual has different needs and take pride in thoroughly explaining all 
                        treatment options available. Dr. Summers offers a wide variety of treatment from early childhood to 
                        adult smile correction. Whether you choose traditional metal braces, clear braces, or the Invisalign 
                        system, Dr. Summers’ expertise will bring out the smile in you. </p>
                        <p>We invite you to schedule a complimentary consultation where Dr. Summers and his staff will answer 
                        any questions you may have. Please contact our Rexburg office at (208) 356-3621.</p>
                        <a href="contact.html" class="button">Get Started Now</a>
                    </div>
                </article>
            </section>
        </div>
