<!-- REGISTER -->
<div id="main">
  <h2>Register</h2>
  <form id="frmRegister" role="form" method="POST">
    <div class="form-group">
      <label for="txtRegEmail">Email address</label>
      <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="userEmail" />
    </div>
    <div class="form-group">
      <label for="txtRegPass">Password</label>
      <input type="password" class="form-control" id="txtPass" placeholder="Password" name="userPassword" />
    </div>
    <button type="submit" class="btn btn-default">Register</button>
  </form>
  <p id="regStatus"></p>
</div>
    <!-- / REGISTER -->